
//  ★ SETTINGS

    $default-gutter-width: 2% !default;
    $container-width: 100%;


//  ★ SILENT CLASSES

//  Extend this class to any columns container (clear-fix).

    %row {
      letter-spacing: -.31em; /* webkit: collapse white-space between units */
      word-spacing: -.43em\0; /* IE9 + Opera */
      word-spacing: -.43em\9; /* IE9 */

      *letter-spacing: normal;
      *word-spacing: -.43em;  /* IE 6/7 (IE7 sees the previous rule) */
    }


//  ★ FUNCTIONS


//  This function calculates the size (width + gutter) of one column based on the choosen fractions.

    @function calculate-column-width($columns, $container-columns, $gutter-width) {

        $all-gutters-width: $gutter-width * ($container-columns - 1);
        $column-width: (($container-width - $all-gutters-width) / $container-columns) * $columns;

        @if $columns == 1 {
            @return $column-width;
        }

        @return $column-width + $gutter-width * ($columns - 1);
    }


//  ★ MIXINS


//  This mixin set all the layout style for the columns.
//  Remember that it works with fractions, like one third, or two fourths, etc. Any combination is possible.
//
//  Example:
//
//      @include column(1 of 6);    ⟵ Set the size of the column of one sixth of the available space


    @mixin column($fractions: $columns of $container-columns, $gutter-width: $default-gutter-width) {

        $columns: nth($fractions, 1);
        $container-columns: nth($fractions, 3);

        display: inline-block;
        zoom: 1; *display: inline; /* IE < 8: fake inline-block */
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;

        margin-right: $gutter-width;
        width: calculate-column-width($columns, $container-columns, $gutter-width);

        &:last-of-type { margin-right: 0; }
    }


//  This mixin set all the layout styles for the nested columns.
//
//  Example:
//
//      @include column(1 of 6, 4 of 12);   ⟵ Set the size of the column of one sixth of the four twelfths of the parent container.

    @mixin nested-column($fractions: $columns of $container-columns, $parent-fractions: $parent-columns of $parent-container-columns, $gutter-width: $default-gutter-width) {

        $parent-columns: nth($parent-fractions, 1);
        $parent-container-columns: nth($parent-fractions, 3);

        $nested-gutter-width: ($parent-container-columns / $parent-columns) * $gutter-width;

        @include column($fractions, $nested-gutter-width);
    }


//  Add this mixin along with the "column" one to get automatic rows - It removes the gutter each N columns.
//
//  Example:
//
//      @include column(1 of 6);    ⟵ Set the size of the column of one sixth of the available space
//      @include grid(6);           ⟵ Removes gutter each 6 columns


    @mixin row-each($column-number) {
        &:nth-of-type(#{$column-number}n) { margin-right: 0; }
    }