// Values

$default-gap-width: 2% !default;


// Grid Placeholders

%row {
    letter-spacing: -0.31em; // Remove text space between elements
}

%column {
    display: inline-block;
    letter-spacing: normal; // Reset text space
}


// Grid Logic

@function calculate-column-width($selected-columns, $all-columns, $gap-width) {

    $parent-width: 100%;
    $all-gaps-width: $gap-width * ($all-columns - 1);
    $column-width: (($parent-width - $all-gaps-width) / $all-columns) * $selected-columns;

    @if $selected-columns == 1 {
        @return $column-width;
    }

    @return $column-width + $gap-width * ($selected-columns - 1);
}

@mixin column($selected-columns, $all-columns, $gap-width: $default-gap-width) {
    @extend %column;
    margin-right: $gap-width;
    width: calculate-column-width($selected-columns, $all-columns, $gap-width);

    &:nth-child(#{$all-columns}n) { margin-right: 0; }
}